defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account        smtp
host           mail.hetmer.net
port           587
tls_starttls   on
from           system@hetmer.com
user           system@hetmer.com
password       {{ system_mail_pwd }}

account default : smtp

aliases /etc/aliases