global:
  scrape_interval: 60s
  evaluation_interval: 60s
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

rule_files:
  - "recording/*.yml"
  - "alerts/*.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: node
    scrape_interval: 30s
    static_configs:
      - targets: 
        - 'proxmox.hetmer.net:9100'
        - 'burger.hetmer.net:9100'
{% for item in groups['proxmox_proxmox_qemu'] | sort %}
        - '{{ item }}.hetmer.net:9100'
{% endfor %}
{% for item in groups['proxmox_proxmox_lxc'] | sort %}
        - '{{ item }}.hetmer.net:9100'
{% endfor %}

  - job_name: coredns
    static_configs:
      - targets:
        - 'dns.hetmer.net:9153'
{% for item in groups['slaves'] | sort %}
        - '{{ item }}.hetmer.net:9153'
{% endfor %}

  - job_name: caddy
    static_configs:
      - targets:
        - 'web.hetmer.net:2019'

  - job_name: "beacon"
    static_configs:
      - targets: ['eth-consensus.hetmer.net:8080']

  - job_name: "validator"
    static_configs:
      - targets:
        - 'eth-validator.hetmer.net:8081'
        - 'eth-validator.hetmer.net:8082'

  - job_name: "rocketpool"
    static_configs:
      - targets: ['eth-validator.hetmer.net:9102']

  - job_name: "geth"
    metrics_path: /debug/metrics/prometheus
    static_configs:
    - targets: ["eth-execution.hetmer.net:6060"]

  - job_name: alertmanager
    static_configs:
      - targets: ['localhost:9093']
